{% extends 'base.html' %}
{% block content %}
<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    База знаний
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    Для сохранения знаний
                </div>
            </div>
            <footer class="card-footer">
                {% if perms.core.view %}
                <a href="{% url 'core:index' %}" class="card-footer-item">Открыть</a>
                {% else %}
                <p class="card-footer-item">У вас нет прав на этот модуль</p>
                {% endif %}
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Админка
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    Панель администратора
                </div>
            </div>
            <footer class="card-footer">
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="card-footer-item">Открыть</a>
                {% else %}
                <p class="card-footer-item">У вас нет прав на этот модуль</p>
                {% endif %}
            </footer>
        </div>
    </div>
</div>
{% endblock %}