<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Частный портал</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'css/style_for_list_category.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</head>
<body>

<script>
    document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'homepage:index' %}">
                Главная
            </a>
        </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {% if user.is_authenticated %}
            <a class="button is-light" href="{% url 'logout' %}">
                Выйти
            </a>
            {% else %}
            <a class="button is-primary">
            <strong>Зарегистрироваться</strong>
            </a>
            <a class="button is-light" href="{% url 'login' %}">
                Войти
            </a>
            {% endif %}
        </div>
      </div>
    </div>

</nav>

<!--<section class="hero is-primary is-bold">-->
<section class="hero is-bold">
    <div class="hero-body">
        <div class="container">

            <div class="columns is-1">
                <div class="column is-1">
                    <img src="{% static 'images/logo_example.jpg' %}" height="120" width="120">
                </div>
                <div class="column is-11">
                    <h1 class="title">
                        Частный портал
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
{% block content %}
{% endblock %}
    </div>
</section>
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Частный портал</strong> - создан 25.02.2020 г.
    </p>
  </div>
</footer>
</html>