{% extends "base.html" %}

{% block content %}

<div class="tile is-parent">
    <article class="tile is-child box">
        <section class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Вы успешно вышли из своего аккаунта!
                    </h1>
                    <h2 class="subtitle">
                        Теперь вы можете:
                    </h2>
                    <a class="button is-info is-inverted is-outlined" href="{% url 'login' %}">Войти снова</a>
                    <a class="button is-info is-inverted is-outlined" href="/">Перейти на главную страницу</a>
                </div>
            </div>
        </section>
    </article>
</div>

{% endblock %}
