{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="notification is-danger">
<strong>Ошибка при входе! Проверьте логин или пароль!</strong>
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="notification is-danger">
<strong>Вы не имеете прав на просмотр этой страницы! Обратитесь к администратору!</strong>
</div>
{% else %}
<div class="notification is-danger">
<strong>Пожалуйста, войдите в свой аккаунт.</strong>
</div>
{% endif %}
{% endif %}

<div class="tile is-parent">
    <article class="tile is-child box">
        <section class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Войдите в свой аккаунт
                    </h1>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label for="id_username" class="label">Имя пользователя:</label>
                            <div class="control">
                                <input class="input" type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" id="id_username">
                            </div>
                        </div>
                        <div class="field">
                            <label for="id_password" class="label">Пароль:</label>
                            <div class="control">
                                <input class="input" type="password" name="password" autocomplete="current-password"
                                       required=""
                                       id="id_password">
                            </div>
                        </div>
                        <input type="submit" value="Войти" class="button is-info is-inverted is-outlined"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </section>


    </article>
</div>

{% endblock %}