{% extends 'base.html' %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js'></script>
{% endblock scripts %}

{% block content %}

<!-- Скрипт для преобразования текста в markdown -->
<script type="text/javascript">
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text()
            var markedContent = marked(content)
            $(this).html(markedContent)
        })
    })
</script>

<div class="content is-medium">
    <h1>{{ note.title }}</h1>

    <div id="meta" class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">Город</span>
                <span class="tag is-success">{{ note.city }}</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">Отдел</span>
                <span class="tag is-success">{{ note.department }}</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">Категория</span>
                <span class="tag is-success">{{ note.category }}</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">Дата создания</span>
                <span class="tag is-success">{{ note.created }}</span>
            </div>
        </div>
    </div>
    <br>

    <p class="content-markdown">{{ note.content_markdown }}</p>

    {% if note.file %}
    <p><a class="button is-link is-light" href="{{ note.download_file }}">{{ note.file }}</a></p>
    {% endif %}
    <br>
    <a class="button is-info" href="{% url 'core:index' %}">Вернуться на главную</a>

</div>

{% endblock %}