{% extends 'base.html' %}
{% block title %}- База Знаний{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
{% if user.is_authenticated %}

<!-- Скрипт для закрытия уведомления -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>

<div class="columns">
    <div class="column">
        <article class="panel is-info">
            <p class="panel-heading">
                Заметки
            </p>
            <div class="field has-addons">
                <p class="control is-expanded">
                <form class="search" action="{% url 'core:result_search' %}" method="get">
                    <input class="input is-info" name="q" type="text" placeholder="Поиск">
                </form>
                </p>
            </div>

            <ul class="accordion-menu">
                {% for category in categories %}
                <li>
                    <div class="dropdownlink">{{ category }}
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="submenuItems">
                        {% for note in notes %}
                        {% if note.category.id == category.id %}
                        <li><a href="{% url 'core:detail' note.id %}">
                            <i class="far fa-sticky-note"></i> {{ note }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </article>

    </div>
    <div class="column">

        {% if messages %}
        {% for message in messages %}
        <div class="notification {% if message.tags == 'error' %}is-danger{% else %}is-primary{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="{% url 'core:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label class="label">Выберите город</label>
                <div class="control">
                    <div class="select">
                        <select name="select_city">
                            {% for city in cities %}
                            <option>{{ city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Выберите отдел</label>
                <div class="control">
                    <div class="select">
                        <select name="select_department">
                            {% for department in departments %}
                            <option>{{ department }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Выберите категорию</label>
                <div class="control">
                    <div class="select">
                        <select name="select_category">
                            {% for category in categories %}
                            <option>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Введите заголовок</label>
                <div class="control">
                    <input class="input" type="text" name="input_title" placeholder="Заголовок заметки">
                </div>
            </div>

            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="user_upload_file">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">Выберите файл (если нужно)</span>
                    </span>
                </label>
            </div>

            <div class="field">
                <label class="label">Сообщение</label>
                <div class="control">
                    <textarea class="textarea" name="input_note" placeholder="Опишите проблему"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-link" type="submit" value="Сохранить в базу">
                </div>
            </div>
        </form>

    </div>
</div>

{% else %}
<div class="tile is-parent">
    <article class="tile is-child box">
        <section class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Войдите в свой аккаунт
                    </h1>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label for="id_username" class="label">Имя пользователя:</label>
                            <div class="control">
                                <input class="input" type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" id="id_username">
                            </div>
                        </div>
                        <div class="field">
                            <label for="id_password" class="label">Пароль:</label>
                            <div class="control">
                                <input class="input" type="password" name="password" autocomplete="current-password"
                                       required=""
                                       id="id_password">
                            </div>
                        </div>
                        <input type="submit" value="Войти" class="button is-info is-inverted is-outlined"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </section>
    </article>
</div>
{% endif %}

{% endblock %}