{% extends 'base.html' %}
{% block content %}

<h1>Результаты поиска:</h1>

<table class="table">
  <thead>
    <tr>
      <th><abbr title="Position">#</abbr></th>
      <th>Заголовок</th>
      <th><abbr title="Category">Категория</abbr></th>
      <th><abbr title="Date">Дата создания</abbr></th>
      <th><abbr title="City">Город</abbr></th>
      <th><abbr title="Departament">Отдел</abbr></th>
      <th><abbr title="Content">Содержимое</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Position">#</abbr></th>
      <th>Заголовок</th>
      <th><abbr title="Category">Категория</abbr></th>
      <th><abbr title="Date">Дата создания</abbr></th>
      <th><abbr title="City">Город</abbr></th>
      <th><abbr title="Departament">Отдел</abbr></th>
      <th><abbr title="Content">Содержимое</abbr></th>
    </tr>
  </tfoot>
  <tbody>
  {% for note in object_list %}
  <tr>
      <th>{{ forloop.counter }}</th>
      <td><a href="{% url 'core:detail' note.id %}" title="{{ note.title }}">{{ note.title }}</a></td>
      <td>{{ note.category }}</td>
      <td>{{ note.created }}</td>
      <td>{{ note.city }}</td>
      <td>{{ note.department }}</td>
      <td>{{ note.content }}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
<br>
<a class="button is-info" href="{% url 'core:index' %}">Вернуться на главную</a>
{% endblock %}